.container {
  max-width: 1080px;
  margin: 20px auto;
  
}

.inputLabel{
  font-size: 1rem;
   display: grid;
   gap: 1vh;
   padding-bottom: 2vh;
  justify-content: space-evenly;
}
input{
  border-radius: 5px;
  height: 2rem;
  width: 14rem;
  border-width: 1px;  
}
